*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main1 {
  width: 100%;
  height: 400px;
background-image: url(img/mv.jpg);
background-size: cover;
background-position: bottom;
}

.hh1{
padding: 20px ;
}

main{
  width: 840px;
  margin:50px auto;
}

.ser1{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom:  1px solid #848484 ;
}

.ser2{
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: 1px solid red;
}

.ser3{
  margin-bottom:30px;
  padding-bottom: 30px;
  border-bottom:1px solid orange ;
}

.ser4{
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid green
}
